.tableFixHead-1 {
  overflow-y: auto;
  /* height: 220px; */
}
.tableFixHead-1 thead th {
  position: sticky;
  top: 0;
}
table {
  border-collapse: collapse;
}
th,
td {
  padding: 4px 8px;
  border: 0.5px solid #529432;
}
th {
  background: #abdd93;
}
